:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.main-content{
  background-color: rgb(255, 255, 255);
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* overflow: auto; */
  width:100%;

}

.bg{
  background-image: url('/img/clcstoc_green.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-opaque{
  background-image: url('/img/clcstoc_transparent.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* .bg-opaque{
  background-image: url('/img/bgkey.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.justify-text {
  text-align: justify;
}

.img-size{
 height: 7em;
 width: 7em;
}

/* main color */
.green-mid{
  background-color: #237a5b;
}
.green-dark{
  background-color: #144533;
}
.green-light{
  background-color: #2d9c73;
}

.classic-font{
  font-family: 'Times New Roman', Times, serif;
}

.nav-static{
  text-decoration: none;
  color: #2e2e2e;
  font-size: 0.9em;
}
.nav-static :hover{
  background: #2d9c73;
  color: #ffffff;
}

.idbg{
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('/img/clcst_logo.png');
  /* background-image: url('/img/bsmt.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .active{
  text-decoration: none;
  background-color: #237a5b;
  color: #ffffff;
} */


/* font */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.small-font{
  font-size: 0.8em;
}
.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


.receipt-1{
  background-image: url('/img/cropped1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.receipt-2{
  background-image: url('/img/cropped2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.times{
  font-family: 'Times New Roman', Times, serif;
}


#savingProgress {
  width: 100%;
  background-color: #ddd;
}

#savingStatus {
  width: 1%;
  height: 30px;
  background-color: #04AA6D;
  transition-property: width;
  transition-duration: 1s;
}